$base: (
    'heading-txt': #656565,
    'body-txt': #787878
);

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    @extend %font-family-heading;
    color: map-get($base, 'heading-txt');
}

body {
    @extend %font-family-body;
    color: map-get($base, 'body-txt');
}
